@media (max-width:2000px)  {
    .about-new {
        display: none;
    }
    .indent-new {
        display: none;
    }
}

@media (max-width:1420px) {
    .product-picture {
        width: 150px;
        height: 300px;
    }
    .main-product {
        padding-top: 168px;
    }
}



@media (max-width:1100px) {
    .title {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* .swiper {
        width: 70%;
    } */
}

@media (max-width:890px) {
    .fullscreen-bg__video,
    .overlay,
    .fullscreen-bg  {
        display: none;
    }

    .about-new {
        display: inline;
    }

    .about {
        background: linear-gradient(to right, rgb(0, 255, 234), rgb(0, 51, 128));
    }

    .title {
        background: linear-gradient(to right, rgb(0, 255, 234), rgb(0, 51, 128));
    }

    .doctor {
        width: 200px;
        height: 300px;
    }

    .about2 {
        margin-top: 0;
    }

    .swiper-slide {
        width: 300px;
       
    }

    .main-product {
        padding-top: 15px;
    }

    .indent {
       display: none;
    }

    .indent-new {
        display: inline;
    }
}

@media (max-width:640px) {
    .specification2-item {
        flex-direction: column;
        text-align: center;
    }

    .specification-item2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn {
        padding-bottom: 10px;
    }

    .main-product {
        margin-right: 10px;
        margin-left: 10px;
    }

    .product {
        margin-right: 20px;
    }

    .imgg {
        height: 300px;
        width: 200px;
    }
}
