* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}  

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.about {
    display: flex;
    justify-content: center;
}

.product {
    margin-right: 100px;
}

ul {
    list-style: none;
}

.specification-sub {
    margin-bottom: 60px;
}

.specification-item {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    border: 1px solid #00B6DD;
    background-color: #00B6DD;
    padding: 16px 55px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.2px;
    color:#FFFFFF;
    cursor: pointer;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
}

.composition {
    background: linear-gradient(to right, rgb(0, 255, 234), rgb(0, 51, 128));
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-product {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 70px;
}

.swiper-container {
    background: linear-gradient(to right, rgb(116, 192, 186), rgb(37, 102, 199));
}

/* .swiper {
    width: 50%;
} */

.swiper-button-prev,
.swiper-button-next {
    color: #000000;
}

.swiper-slide {
    text-align: center;
}

.person {
    padding: 10px;
    font-size: 20px;
}

.comment {
    padding-bottom: 20px;
}

.promo2 {
    display: flex;
    justify-content: center;
}

.about2 {
    margin-top: 200px;
    max-width: 300px;
}

.specification2 {
    background: linear-gradient(to right, rgb(65, 184, 174), rgb(87, 129, 194));
    
}

.specification2-item {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.specification-item2 {
   margin-right: 30px;
   border: 1px solid black;
   border-radius: 30px;
   padding: 5px;
}

.about2-item {
    padding-bottom: 30px;
}

.connect {
    text-align: center;
    background: linear-gradient(to right, rgb(135, 99, 219), rgb(240, 95, 208));
}

#title-finish {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.countdown-title {
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 20px;
  }
   
.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.price-new {
    font-size: 30px;
}

.price-old {
    font-size: 20px;
}

form {
    text-align: center;
  }
  
  input {
    width: 100%;
    max-width: 433px;
    border:none;
    border-bottom:1px solid #5F5D65;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #3b2480;
    border-radius: 0%;
  }
  
  .main-form {
      padding-top: 100px;
  }

  .input__person {
    background:  url(IMG/person.svg) 0 15px no-repeat;
    background: linear-gradient(to right, rgb(193, 189, 202), rgb(240, 95, 208));
    padding: 12px 35px;
  }
  
  .input__phone {
    background:  url(IMG/phone2.svg) 0 15px no-repeat;
    background: linear-gradient(to right, rgb(199, 192, 216), rgb(240, 95, 208));
    padding: 12px 31px;
  }

  .button_indent {
    padding-top: 30px;
    padding-bottom: 120px;
    text-align: center;
  }
  
  .contacts__button {
    padding: 12px 39px;
    align-items: center;
    border: 1px solid #CCBB9E;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #4B4A50;
  }
  
  .contacts__button:hover {
    transition: .5s;
    background-color: #C4B192;
  }

  .price-about {
    display: flex;
    justify-content: center;
  }